<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/42a182743f.js"
      crossorigin="anonymous"
    ></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/profile.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Profile</title>
  </head>
  <body>
    <!-- footer -->
    <%-include('../partials/navbar.ejs') %>    

    <div class="profile-container">
      <header
        style="
          background-image: url(<%=user?.coverImage%>);
        "
      >
        <div class="icons-container">
          <p>
            <!-- upload background image -->
            <a href = "/api/v1/users/upload-cover-photo-form">
              <i class="fas fa-camera upload-btn"></i>
            </a>
          </p>
     
          <p>
            <a href = "/api/v1/users/<%=user?._id%>">
              <i class="fas fa-edit"></i>
            </a>
          </p>
        </div>
        <!-- upload cover image icon -->
       
      </header>

      <!-- profile image -->
      <div class="profile-img">
        <img src="<%=user?.profileImage%>" alt="profile image" />
        <!-- upload profile image icon -->
        <a href = "/api/v1/users/upload-profile-photo-form">
          <i class="fas fa-camera upload-btn"></i>
        </a>
        
      </div>
      <!-- personal details -->
      <div class="personal-container">
        <div class="details-wrapper">
          <div class="details">
            <i class="fas fa-user"></i>
            <p>Name: <%=user?.fullname%></p>
          </div>
          <div class="details">
            <i class="fas fa-envelope"></i>
            <p>Email: <%=user?.email%></p>
          </div>
          <!-- date joined -->
          <div class="details">
            <i class="fas fa-calendar"></i>
            <p>Date Joined: <%=user?.createdAt.toLocaleDateString()%></p>
          </div>
        </div>
      </div>
    </div>
    <div class="latest-post-title">
      <!-- Icon -->
      <i class="fas fa-book-open"></i>
      <br>
      <h1>&nbsp; Latest Posts &nbsp;(3)</h1>
      
    </div>

    <!-- content -->
    <section class="container-flex">
        <article class="post-content">
          
          <img src="/images/post3.jpg" alt="" class="post-image" /> 
          <p class="post-info">
            <span class="post-author">
              <i class="fas fa-user"></i>
              <a href="#">Jason Jiang</a>
            </span>
            <span class="post-date">
              <i class="far fa-calendar-alt"></i>
              <time datetime="2020-01-01">December 1, 2023</time>
            </span>
          </p><h1 class="post-title">ScholarshipOpportunity</h1>
          <br>
          <p class="post-body">
            Exciting news! The university is launching a new scholarship program for STEM majors. 
            Check your email for more details on how to apply.
          <br>
          </p>
          <!-- category -->
          <div class="post-category">
            <!--<span>Category:</span> -->
          </div>
          <a href="/" class="post-read-more">Continue Reading...</a>
        </article>
      

        <article class="post-content">
          <img src="/images/post7.jpg" alt="" class="post-image" /> 
          <p class="post-info">
            <span class="post-author">
              <i class="fas fa-user"></i>
              <a href="#">Angela Chen</a>
            </span>
            <span class="post-date">
              <i class="far fa-calendar-alt"></i>
              <time datetime="2020-01-01">December 25, 2023</time>
            </span>
          </p><h1 class="post-title">Volunteer</h1>
          <br>
          <p class="post-body">
            Want to make a difference in the community? 
            Our volunteer group is organizing a clean-up event at the local park this weekend. 
            Sign up now to join us in keeping our environment clean and green!
          </p>
          <!-- category -->
          <div class="post-category">
            <!--<span>Category:</span> -->
          </div>
          <a href="/" class="post-read-more">Continue Reading...</a>
        </article>

        <article class="post-content">
          
          <img src="/images/post7.jpg" alt="" class="post-image" /> 
          <p class="post-info">
            <span class="post-author">
              <i class="fas fa-user"></i>
              <a href="#">Ping Di</a>
            </span>
            <span class="post-date">
              <i class="far fa-calendar-alt"></i>
              <time datetime="2020-01-01">January 1, 2024</time>
            </span>
          </p>
          <h1 class="post-title">RoommateSearch</h1>
          <br>
          <p class="post-body">
            Still looking for a roommate for next semester! 
            I'm a quiet, tidy student majoring in Computer Science. 
            If you're interested or know someone who might be, send me a message!
          </p>
          <!-- category -->
          <div class="post-category">
            <!--<span>Category:</span> -->
          </div>
          <a href="/" class="post-read-more">Continue Reading...</a>
        </article>

        
    
      
    </section>
        <!-- footer -->
        <%-include('../partials/footer.ejs') %>
  </body>
</html>


<p>
  <i style="color: yellow" class="fa-solid fa-key fas"></i>
</p>